<%- include('./partials/header.ejs') %>
<h2>Edit Skill</h2>
<form action="/skills/<%= skill.id%>?__method=PUT" method="POST">
  <input name="name" value="<%= skill.name %>" placeholder="Name">
  <button class="submitBtn" type="submit">Update</button>
</form>
<%- include('./partials/footer.ejs') %>