<%- include('./partials/header.ejs') %>
<h2>Add New Skill</h2>
<form action="/skills" method="POST">
  <input type="text" name="name" placeholder="Name">
  <button class="submitBtn" type="submit">Add</button>
</form>
<%- include('./partials/footer.ejs') %>